{% extends 'base.html' %}
{% load humanize %}

{% block content %}

{% if request.user.is_authenticated %}
    {% if object_list %}
        <div class="column">
            <h1 class="title">Hola @{{user}}! <strong>({{user.get_full_name}})</strong></h1>
            <h2 class="subtitle">
                <a href=" {% url 'perfil_detail' user.perfil.id %} ">Ver perfil</a>
            </h2>

            {% for object in object_list %}
                <div class="box">
                    {{ object.body }}<span class="is-small has-text-grey-light">
                    ({{ object.created | naturaltime }}) by <a href="{% url 'perfil_detail' object.user.id %}"><strong>@{{ object.user.username }}</strong>
                    </a></span>
                </div>
            {% endfor %}
        </div>

        <div class="column is-one-third">
            <form method="POST">
                {%csrf_token%}
                {{ form.as_p }}
                <button class="button is-success is-fullwidth is-medium mt-5" type="submit">
                    Tuitear
                </button>
            </form>
        </div>

    {% else %}
        <div class="column">
            <h1 class="title">No tenes Tuis para ver :c</h1>
        </div>
    {% endif %}
{% else %}
    <div class="column">
        <h1 class="title">Hola desconocido! e_e</h1>
        <a href="/admin/login">Logueate</a>
    </div>
{% endif %}
{% endblock content %}